#sidebar{
	width:250px;
	height:100%;
	background-color:navy;
	position:fixed;
	padding:10px;
	left:0%;
	top:0%;
	
}

#sidebar a{
	color:white;
}

#sidebar a:hover{
	color:aqua;
}

#main{
	padding-left:300px;
	
}